#clock {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #555;
  background-size: 1% 100%, 100% 1%, 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      0deg,
      #ccc 5%,
      transparent 5%,
      transparent 95%,
      #ccc 95%
    ),
    linear-gradient(90deg, #ccc 5%, transparent 5%, transparent 95%, #ccc 95%),
    radial-gradient(transparent, black);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

#hour,
#minute,
#second {
  position: absolute;
  background-color: #fff;
  transition: transform 0.5s cubic-bezier(0.4, 2.3, 0.35, 1);
  will-change: transform;

  &::before {
    content: "▲";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    color: #1f1a1a;
    font-weight: bold;
    font-size: 14px;
  }
}

#hour {
  width: 4px;
  height: 57px;
  top: calc(50% - 57px);
  left: calc(50% - 2px);
  transform-origin: 50% 100%;
}

#minute {
  width: 2px;
  height: 70px;
  top: calc(50% - 70px);
  left: calc(50% - 1px);
  transform-origin: 50% 100%;
}

#second {
  width: 1px;
  height: 80px;
  top: calc(50% - 80px);
  left: calc(50% - 0.5px);
  transform-origin: 50% 100%;
  background-color: #db4437;
  /* Set the color for the second needle */
}

#hour::before {
  color: #d5dff0;
  /* Blue color for hour needle */
}

#minute::before {
  color: #b1b1b1;
  /* Green color for minute needle */
}

#second::before {
  color: #db4437;
  /* Red color for second needle */
}

#center-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #5f5f5f;
  border-radius: 50%;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}

.hour-numbers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour-number {
  position: absolute;
  transform-origin: 50% 50%;
  color: #fff;
  font-size: 16px;
}

.custom-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: #6d6a6a;
  font-size: 14px;
}

#hands-container {
  position: relative;
  z-index: 2;
  /* Set a higher value to position above the custom text */
}
